<div class="surface-section px-6 py-5">
  <button
    pButton
    pRipple
    type="button"
    label="Back"
    icon="pi pi-arrow-left"
    class="p-button-rounded p-button-info"
    routerLink="../.."
  ></button>
</div>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div
    class="flex align-items-start bg-gray-200 flex-column lg:flex-row lg:justify-content-between"
  >
    <div class="flex align-items-start flex-column md:flex-row">
      <div class="p-5">
        <span class="text-900 font-medium text-3xl">
          Update Restaurant Information
        </span>
      </div>
    </div>
  </div>
</div>

<form
  *ngIf="restaurant"
  #form="ngForm"
  class="surface-section px-2 py-4 md:px-6 lg:px-8"
  (ngSubmit)="submit()"
>
  <div class="col-12 flex align-items-center my-3 flex-wrap">
    <label for="res.name" class="block text-900 font-medium my-3 mr-5">
      Restaurant Owners
    </label>
    <div class="text-900 w-full md:w-10 line-height-3">
      {{ getOwners(restaurant) }}
    </div>
  </div>

  <div class="col-12">
    <label for="res.name" class="block text-900 font-medium my-3 required">
      Restaurant Name
    </label>
    <div class="grid">
      <div class="col-12">
        <div class="p-inputgroup">
          <input
            [(ngModel)]="restaurant.restaurantName"
            name="restaurantName"
            type="text"
            pInputText
            placeholder="Restaurant Name"
            maxlength="255"
            required
          />
        </div>
        <div
          class="flex align-items-center gap-1"
          *ngIf="
            form.controls['restaurantName']?.dirty &&
            form.controls['restaurantName']?.errors
          "
        >
          <i class="pi pi-times-circle text-danger"></i>
          <small class="text-danger"> Restaurant name can't be empty!</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <label class="block text-900 font-medium my-3 required">
      Restaurant Category
    </label>
    <div class="grid">
      <div class="p-fluid col-12">
        <p-autoComplete
          [(ngModel)]="selectedCategory"
          [suggestions]="filteredCategories"
          (completeMethod)="filterRestaurantCategory($event)"
          [dropdown]="true"
          [multiple]="true"
          field="restaurantCategoryName"
          name="restaurantCategoryName"
          [forceSelection]="true"
        ></p-autoComplete>
      </div>
    </div>
  </div>

  <app-address-fields [address]="restaurant.address"></app-address-fields>

  <div class="col-12">
    <label for="phoneNumber" class="block text-900 font-medium my-3 required">
      Phone Number
    </label>
    <div class="grid">
      <div class="col-12">
        <div class="p-inputgroup">
          <input
            id="phoneNumber"
            type="text"
            pInputText
            class="w-full mb-1"
            [(ngModel)]="restaurant.phoneNumber"
            name="phoneNumber"
            placeholder="Phone Number"
            [required]="true"
          />
        </div>
      </div>
    </div>
    <div
      class="flex align-items-center gap-1"
      *ngIf="
        form.controls['phoneNumber']?.dirty &&
        form.controls['phoneNumber']?.errors
      "
    >
      <i class="pi pi-times-circle text-danger"></i>
      <small class="text-danger"> Enter a valid phone number! </small>
    </div>
  </div>

  <div class="col-12">
    <label for="descr" class="block text-900 font-medium my-3 required">
      Description
    </label>
    <div class="grid">
      <div class="col-12">
        <div class="p-inputgroup">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            placeholder="Description"
            [(ngModel)]="restaurant.description"
            name="description"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <label for="descr" class="block text-900 font-medium my-3">Avatar</label>
    <div class="grid">
      <div class="col-12">
        <app-image-attachment
          [uploadUrl]="uploadUrl"
          [url]="restaurant.avatarFile?.filePath"
          (selectedImageHandler)="updateAvatar($event)"
          method="PUT"
          class="mr-5 mb-3 lg:mb-0"
          [editable]="editable"
        ></app-image-attachment>
      </div>
    </div>
  </div>

  <button
    [disabled]="form.invalid"
    pButton
    pRipple
    label="Save Changes"
    icon="pi pi-check"
    class="w-full mt-4"
  ></button>
</form>
