<ng-container *ngIf="isChangingPassword">
  <label for="currentPassword" class="block text-900 font-medium my-2 required">
    Current Password
  </label>
  <input
    id="currentPassword"
    type="password"
    pInputText
    class="w-full mb-1"
    name="currentPassword"
    ngModel
    required
  />
</ng-container>

<label for="password" class="block text-900 font-medium my-2 required">
  {{ isChangingPassword ? "New Password" : "Password" }}
</label>
<input
  id="password"
  type="password"
  pInputText
  class="w-full mb-1"
  name="password"
  ngModel
  required
/>

<ng-container *ngIf="form.controls['password']?.dirty">
  <!-- {{ form.controls["password"].errors | json }} -->
  <div class="flex align-items-center gap-1">
    <i
      [ngClass]="
        validatePasswordStyle('minlength') || validatePasswordStyle('maxlength')
          ? 'pi pi-times-circle text-danger'
          : 'pi pi-check-circle text-success'
      "
    ></i>
    <small
      [ngClass]="
        validatePasswordStyle('minlength') || validatePasswordStyle('maxlength')
          ? 'text-danger'
          : 'text-success'
      "
    >
      The password must have <strong>8 - 25 characters</strong>
    </small>
  </div>

  <div class="flex align-items-center gap-1">
    <i
      [ngClass]="
        validatePasswordStyle('hasNumber')
          ? 'pi pi-times-circle text-danger'
          : 'pi pi-check-circle text-success'
      "
    ></i>
    <small
      [ngClass]="
        validatePasswordStyle('hasNumber') ? 'text-danger' : 'text-success'
      "
    >
      The password must have at least <strong>a number</strong>
    </small>
  </div>

  <div class="flex align-items-center gap-1">
    <i
      [ngClass]="
        validatePasswordStyle('hasCapitalCase')
          ? 'pi pi-times-circle text-danger'
          : 'pi pi-check-circle text-success'
      "
    ></i>
    <small
      [ngClass]="
        validatePasswordStyle('hasCapitalCase') ? 'text-danger' : 'text-success'
      "
    >
      The password must have at least <strong>an uppercase letter</strong>
    </small>
  </div>

  <div class="flex align-items-center gap-1">
    <i
      [ngClass]="
        validatePasswordStyle('hasSmallCase')
          ? 'pi pi-times-circle text-danger'
          : 'pi pi-check-circle text-success'
      "
    ></i>
    <small
      [ngClass]="
        validatePasswordStyle('hasSmallCase') ? 'text-danger' : 'text-success'
      "
    >
      The password must have at least <strong>a lowercase letter</strong>
    </small>
  </div>

  <div class="flex align-items-center gap-1">
    <i
      [ngClass]="
        validatePasswordStyle('hasSpecialCharacters')
          ? 'pi pi-times-circle text-danger'
          : 'pi pi-check-circle text-success'
      "
    ></i>
    <small
      [ngClass]="
        validatePasswordStyle('hasSpecialCharacters')
          ? 'text-danger'
          : 'text-success'
      "
    >
      The password must have at least <strong>a special character</strong>
    </small>
  </div>
</ng-container>

<label for="confirmPassword" class="block text-900 font-medium my-2 required">
  {{ isChangingPassword ? "Confirm New Password" : "Confirm Password" }}
</label>
<input
  id="confirmPassword"
  type="password"
  pInputText
  class="w-full mb-1"
  name="confirmPassword"
  ngModel
  required
/>

<div
  class="flex align-items-center gap-1"
  *ngIf="
    form.controls['confirmPassword']?.dirty &&
    form.controls['confirmPassword']?.errors
  "
>
  <i class="pi pi-times-circle text-danger"></i>
  <small class="text-danger">
    Your comfirmed password must match. Try again!
  </small>
</div>
