<div class="flex align-items-center gap-2">
  <span class="text-900 font-medium text-3xl" *ngIf="!isEditing">
    {{ restaurant.restaurantName }}
  </span>
  <p-tag *ngIf="!restaurant.active" severity="danger" value="Inactive"></p-tag>
  <p-tag
    *ngIf="restaurant.active && !isEditing"
    [severity]="restaurant.opening ? 'success' : 'danger'"
    [value]="restaurant.opening ? 'Opening' : 'Closed'"
  ></p-tag>
  <input
    type="text"
    pInputText
    [(ngModel)]="restaurant.restaurantName"
    *ngIf="isEditing"
    required
  />
  <button
    *ngIf="editable"
    pButton
    pRipple
    type="button"
    [icon]="isEditing ? 'pi pi-check' : 'pi pi-pencil'"
    class="p-button-rounded p-button-text"
    (click)="onButtonClick()"
  ></button>
</div>
