<div
  class="surface-section h-screen border-right-1 surface-border flex flex-column w-18rem select-none fixed left-0 top-0"
>
  <div class="p-3 flex align-items-center justify-content-center">
    <img src="../../favicon.ico" alt="Image" height="40" />
  </div>
  <div class="overflow-y-auto">
    <ul class="list-none p-2 m-0">
      <li>
        <div class="p-3 text-500 font-medium">GENERAL</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="navToHomePage()"
        >
          <i class="pi pi-home mr-2"></i>
          <span class="font-medium">Home</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="navToSettings()"
        >
          <i class="pi pi-cog mr-2"></i>
          <span class="font-medium">Settings</span>
        </a>
      </li>
    </ul>
    <ul class="list-none p-2 m-0 border-top-1 surface-border">
      <li>
        <div class="p-3 text-500 font-medium">ORDER AND PURCHASE</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="navToRestaurant()"
        >
          <i class="pi pi-map mr-2"></i>
          <span class="font-medium">Restaurants</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="navToMyOrders()"
        >
          <i class="pi pi-inbox mr-2"></i>
          <span class="font-medium">Orders</span>
        </a>
      </li>
    </ul>
    <ul
      class="list-none p-2 m-0 border-top-1 surface-border"
      *ngIf="userExistedAdmin() && showAdmin()"
    >
      <li>
        <div class="p-3 text-500 font-medium">ADMIN MANAGEMENT</div>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="viewAllUsers()"
        >
          <i class="pi pi-user mr-2"></i>
          <span class="font-medium">User Management</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="viewAllRestaurants()"
        >
          <i class="pi pi-bars mr-2"></i>
          <span class="font-medium">Restaurant Management</span>
        </a>
      </li>
      <li>
        <a
          pRipple
          class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
          (click)="viewAllRequest()"
        >
          <i class="pi pi-list mr-2"></i>
          <span class="font-medium">Restaurant Opening Request Management</span>
        </a>
      </li>
    </ul>
  </div>
</div>
